footer{
    background-color: #0D1321;
    padding: 1em;
    width: 100%;
    height: 4em;
}

#footer_texto{
    display: flex;
        flex-wrap: row-reverse;
        justify-content: end;
    color:aliceblue;
}

