#contenedor_formulario{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    margin-bottom: 1em;    
}

#contenedor_titulo_formulario{
  padding: 1em;
}

.formulario {
    background-color: #0D1321;
    border: 1px solid #0f1010;
    border-radius: 1em;
    box-shadow: 10px 16px 155px 26px rgba(92,92,92,0.62);
                -webkit-box-shadow: 10px 16px 155px 26px rgba(92,92,92,0.62);
                -moz-box-shadow: 10px 16px 155px 26px rgba(92,92,92,0.62);
    width: 80%;
    padding: 50px;
    margin: auto;
  }

  .form-row {
    margin-bottom: 40px;
    display: flex;
    color: aliceblue;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"]
  .form-row input[type="email"] {
    background-color: #faf9f9;
    border: 0;
    border-radius: 15px;
    width: 100%;
    padding: 1em;
    font-size: 14px;
  }
  #mensaje{
    height: 15em;
  }
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
  
    color: #ffffff;
    background-color: #5995da;
  
  
    border: none;
    border-radius: 3px;
  
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  
  .form-row button:hover {
    background-color: #76aeed;
  }
  
  
  .form-row button:active {
    background-color: #407fc7;
  }
  